#client.cfg
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --ipv6=auto --activate
network  --hostname=G5-Zalah1-client.hh.nku.edu

# Root password
rootpw --iscrypted $6$rckBPeE90/1VNKd9$N3x52FnPwgl5ez8YkiCVynBjtigEOCcIHLTOuSr7.vT71I0T.3AxcYUsuDRGuHymJGQNRerQ35pQztU1X7fth0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel
zerombr
# Disk partitioning information
volgroup centos --pesize=4096 pv.0 
part pv.0 --fstype=lvmpv --ondisk=sda --size=20000
logvol / --vgname=centos --name=root --fstype=xfs --size=7144
logvol /var --vgname=centos --name=var --fstype=xfs --size=2048
logvol swap --vgname=centos --name=swap --fstype=xfs --size=512

%packages
@^minimal
@core
chrony
kexec-tools
net-tools
nfs-utils-lib
nfs-utils
openldap
openldap-clients
nss-pam-ldapd
portmap
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --erroronfail --log=/root/ks-post.log --interpreter=/bin/bash
set -x
/bin/echo "alias ll='ls -alF'" >> /root/.bashrc
/bin/echo "PATH='$PATH:~/sbin:~/usr/sbin'" >> /root/.bashrc
source /root/.bashrc
mv -f /etc/skel/.bashrc /root/backup_skel_bashrc
cp /root/.bashrc /etc/skel/.bashrc

systemctl enable rpcbind
ystemctl enable firewalld
systemctl start rpcbind
systemctl start firewalld

# Setup NFS
yum update -y
mkdir -p /mnt/nfs/home
mount -t nfs 10.2.7.9:/home /mnt/nfs/home
df -h
echo "10.2.7.9:/home  /mnt/nfs/home   nfs      defaults 0 0" >> /etc/fstab

# Setup LDAP
echo "HOST 10.2.7.9" >> /etc/openldap/ldap.conf
echo "BASE dc=cit470,dc=nku,dc=edu" >> /etc/openldap/ldap.conf
authconfig --enableldap --enableldapauth --ldapserver=ldap://10.2.7.9:389 --ldapbasedn="dc=cit470,dc=nku,dc=edu" --enablemkhomedir --update
echo "uri ldap://10.2.7.9/" >> /etc/nslcd.conf

#Setup Hostname
ifconfig -a | grep -o "10.2.7.*" | grep -Eo '^[^ ]+' | sed 's/10.2.7.//' >> getip
echo -n client >> hostname ; cat getip | tr -d '\n' >> hostname ; echo -n .hh.nku.edu > /etc/hostname
systemctl  reboot
%end