#version=DEVEL
# CIT470
# Instructor: Darci Guriel
# Team: 5
# Membership: Jonathan Gaskill, John Laycock, Even Brodbeck
# Author: Jonathan Gaskill
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Accept Eula
eula --agreed
# Reboot afer installing
reboot
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --ip=10.2.7.9 --netmask=255.255.254.0 --gateway=10.2.6.1 --device=ens33 --nameserver=10.14.1.10,10.11.0.51 --ipv6=auto --activate
network  --hostname=G5-Zalah1-server.hh.nku.edu

# Root password
rootpw --iscrypted $6$rckBPeE90/1VNKd9$N3x52FnPwgl5ez8YkiCVynBjtigEOCcIHLTOuSr7.vT71I0T.3AxcYUsuDRGuHymJGQNRerQ35pQztU1X7fth0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel
zerombr
# Disk partitioning information
volgroup centos --pesize=4096 pv.0
part /boot --fstype="xfs" --ondisk=sda --size=512
part pv.0 --fstype=lvmpv --ondisk=sda --size=19488
logvol / --vgname=centos --name=root --fstype=xfs --size=7500
logvol /var --vgname=centos --name=var --fstype=xfs --size=2000
logvol swap --vgname=centos --name=swap --fstype=xfs --size=512

%packages
@^minimal
@core
chrony
kexec-tools
net-tools
wget
bzip2
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --erroronfail --log=/root/ks-post.log --interpreter=/bin/bash
set -x
/bin/echo "alias ll='ls -alF'" >> /root/.bashrc
%end
